body {
  background: url(../../img/cat-g242ce68e5_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: relative;
  float: right;
  max-width: 500px;
  background-color: orange;
  padding: 2rem;
  color: white;
}
